{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'js/htmx.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/commercial/commercial_demande_detail_style.css' %}">
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des demandes</title>
</head>
<body>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2>demande de Mr/Mme : {{ demande.client.nom_complet }}</h2>
    <h3>status de la demande : {{ demande.get_etape_display }}</h3>
    <h3>Type de financement : {{ demande.get_financement_type_display }}</h3>
    
    {% if demande.financement_type == "externe" %}
        <h3>Financement par : {{ demande.get_financement_par_display }}</h3>
    {% endif %}
        

    <button class="btn btn_gestion_demande" onclick="gestion_dmd_modal.showModal()">Gérer les etape dela demande</button>
    {% include 'modals/leads/gestion_demande.html' %}

    <button class="btn btn_gestion_fin" onclick="gestion_fin_modal.showModal()">Gestion de type de financement</button>
    {% include 'modals/leads/gestion_type_financement.html' %}

    
    <h3>Documents du client</h3>
    
    {% if demande.documents.all %}
        {% for document in demande.documents.all %}
        
        {% if document.statut_dossier != "vide" %}
        <hr>
            <h4>Document {{ forloop.counter }}</h4>
             <ul>
                <li>CNI : {% if document.cni_passeport %}✅{% else %}❌{% endif %}</li>
                <li>Justificatif domicile : {% if document.justificatif_domicile %}✅{% else %}❌{% endif %}</li>
                <li>Quittance salaire : {% if document.quittance_salaire %}✅{% else %}❌{% endif %}</li>
                <li>Relevé bancaire : {% if document.relevé_bancaire %}✅{% else %}❌{% endif %}</li>
                <li>Statut : {{ document.get_statut_dossier_display }}</li>
                <a href="{% url 'leads_app:document-detail' document.pk %}">Voir les détails</a>
            </ul>
        <hr>
            
        {% endif %}
        {% endfor %}
    {% else %}
        <p>Aucun document disponible pour ce client lié à cette demande.</p>  
    {% endif %}
        



</body>