{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'js/htmx.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/client/client_list_demande_style.css' %}">
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes demandes </title>
</head>
<body>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

 <h1>Mes demande</h1>
 {% for demande in list_demande_financement  %}
    <hr>
        <h2><em>{{ demande.Vehicul_interested }}</em></h2>
        <h4>status : ==> {{ demande.get_etape_display }}</h4>
        <a class="btn btn_detail_dmd "href="{% url 'leads_app:detail-demande' demande.pk %}"> Tout sur votre demande </a>
    <hr>   
 {% endfor %}
    
    
</body>