<dialog id="gestion_doc_modal" class="modal">
  <div class="modal-box">
   
    <a href="{% url 'leads_app:valider-document' document.pk %}">Valider le dossier</a>
    <a href="{% url 'leads_app:rejeter-document' document.pk %}">Rejeter le dossier</a>
    <a href="{% url 'leads_app:verifier-document' document.pk %}">Vérifier le dossier</a>
    <a href="{% url 'leads_app:modifier-document' document.pk %}">Modifier le dossier</a>
        
      <div class="modal-action">
        <button type="submit" class="btn btn-primary">envoyer</button>
        <button type="button" class="btn" onclick="document.getElementById('gestion_doc_modal').close()">Annuler</button>
      </div>
  </div>
</dialog>


{% if open_gestion_doc_modal %}
<script>
  document.getElementById('gestion_doc_modal').showModal();
</script>
  
{% endif %}


<script>
  // Fonction pour fermer la modale après soumission (optionnel)
  function closeModal() {
    document.getElementById('gestion_doc_modal').close();
  }
</script>