<dialog id="change_pass_modal" class="modal">
  <div class="modal-box">>
    <form method="post" action="{% url 'auth_app:change-password' %}">
      {% csrf_token %}
    <!-- AFFICHAGE DES ERREURS GLOBALES -->
    {% if change_pass_form.non_field_errors %}
      <div class="alert alert-error">
        {% for error in change_pass_form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    
    <!-- CHAMPS DU FORMULAIRE -->
    {% for field in change_pass_form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        
        <!-- AFFICHAGE DES ERREURS PAR CHAMP -->
        {% if field.errors %}
          <div class="error">
            {% for error in field.errors %}
              <p class="text-red-500">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
      
      <div class="modal-action">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn" onclick="document.getElementById('change_pass_modal').close()">Annuler</button>
      </div>
    </form>
  </div>
</dialog>

{% if reopen_modal %}
  <script>
    document.getElementById('change_pass_modal').showModal();
  </script>
{% endif %}

<script>
  // Fonction pour fermer la modale après soumission (optionnel)
  function closeModal() {
    document.getElementById('change_pass_modal').close();
  }
</script>