<dialog id="vehicul_modal" class="modal">
  <div class="modal-box">
    <form
     enctype="multipart/form-data"
     method="post" 
     action="{% url 'vehicul_app:update-vehicul' vehicul.pk %}">
      {% csrf_token %}
      
      {{ vehicul_form.non_field_errors }}
      
      {% for field in vehicul_form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          
          {% if field.errors %}
            <div class="error">
              {% for error in field.errors %}
                <p class="text-red-500">{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      
      <div class="modal-action">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn" onclick="document.getElementById('vehicul_modal').close()">Annuler</button>
      </div>
    </form>
  </div>
</dialog>


{% if open_vehicul_modal %}
<script>
  document.getElementById('vehicul_modal').showModal();
</script>
  
{% endif %}
  

<script>
  // Fonction pour fermer la modale après soumission (optionnel)
  function closeModal() {
    document.getElementById('vehicul_modal').close();
  }
</script>