<dialog id="delete_vehicul_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Confirmer la suppression</h3>
        <p class="py-4">Êtes-vous sûr de vouloir supprimer ce véhicule ? Cette action est irréversible.</p>
        <div class="modal-action">
        <form method="post" action="{% url 'vehicul_app:delete-vehicul' vehicul.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
            <button type="button" class="btn" onclick="delete_vehicul_modal.close()">Annuler</button>
        </form>
        </div>
    </div>
</dialog>